@keyframes mouse_rool {
    from {
        
    }
    82% {
        transform: scaleX(1);
        height: 15px;

    }
    90% {
        transform: scaleX(0.5);
        height: 25px;
    }
    95% {
        transform: scaleX(0.5);
        height: 25px;
    }
    to {
        transform: scaleX(1);
    }
}