.contact {
    background: var(--main);
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    position: relative;
    align-self: flex-start;
    margin-left: 10%;

    &>span {
        display: block;
        position: absolute;
        left: -20px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: var(--gradient);
    }

    &>h2 {
        position: relative;
        z-index: 10;
        font-size: 44px;
        padding-bottom: 120px;
    }
}

.contact-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        gap: 100px;
    }
}


form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>.message-send {
        position: absolute;
        top: -70px;
        background: var(--gradient);
        background-clip: text;
        color: transparent;
        font-size: 1.2em;
        font-weight: 600;
        opacity: 0;
        transition: 0.3s ease-out;

        &.send {
            opacity: 1;
        }
    }

    &>.name {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    &>.submit-button {
        background: var(--gradient);
        border-radius: 50px;
        height: 49px;
        width: 167px;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        transition: 0.2s ease-out;

        &:hover {
            font-size: 1.4em;
            transform: scale(1, 0.9);
        }

        &:active {
            font-size: 1em;
            transform: scale(1.1, 0.8);
        }
    }

    @media screen and (max-width: 770px) {
        width: 95%;

        &>.name {
            flex-direction: column;
            width: 95%;
        }
    }
}

.input {
    background: var(--gradient);
    border-radius: 50px;
    height: 59px;
    width: 634px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;


    &.inp-lname,
    &.inp-fname {
        width: 304px;

        &>input {
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }

    &.inp-message {
        height: 192px;
    }

    &>input {
        background: var(--main);
        border-radius: 50px;
        height: 100%;
        width: 100%;
        padding: 0 25px;
        font-size: 1.1em;

        &:focus {
            outline: none;
        }
    }

    &>textarea {
        background: var(--main);
        border-radius: 50px;
        padding: 25px;
        height: 100%;
        width: 100%;
        font-size: 1.1em;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    @media screen and (max-width: 770px) {
        width: 95%;

        &.inp-lname,
        &.inp-fname {
            width: 75%;
        }
    }
}

.info {
    background: var(--gradient);
    border-radius: 8px;
    padding: 40px 20px 40px 20px;

    &>.address-title {
        font-size: 1.8em;
        margin-bottom: 10px;

        &.address::before {
            content: "📭 ";
        }

        &.mail::before {
            content: "📧 ";
        }

        &.phone::before {
            content: "📱 ";
        }
    }

    &>.address-content {
        font-size: 1.2em;
        margin-bottom: 20px;
        padding-left: 60px;
    }

    &>.social {
        padding-top: 20px;
        display: flex;
        gap: 15px;
    }
}