.projects {
  background: var(--second);
  padding: 200px 0 150px;
}

.project-box-border {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(155deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
  width: 404px;
  height: 504px;

  &>.project-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: var(--main);
    width: 400px;
    height: 500px;
    overflow: hidden;
    
    &>.background {
      position: absolute;
      background: radial-gradient(ellipse at bottom 10% right 10%,
      #fc8e01 0%,
      #fc6b01 5%,
      #ee4407 10%,
      #cb3411 15%,
      #a22f1b 20%,
      #762922 25%,
      #562525 30%,
      #422424 35%,
      #342424 40%,
      #2c2424 45%,
      #262525 50%,
      #2e2e2e 100%,);
      width: 100%;
      height: 100%;
    }
  }
}

.project-img, .project-txt {
  z-index: 10;
  border: solid 4px var(--white);
  width: 380px;
  background: rgba(255, 255, 255, 0.1);
}

.project-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 288px;
}

.project-txt {
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 192px;
}


// Swiper
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  bottom: 0 !important;
}