.projects {
    background: var(--second);
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    position: relative;

    &>span {
        display: block;
        position: absolute;
        left: -20px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: var(--gradient);
    }

    &>h2 {
        position: relative;
        z-index: 10;
        font-size: 44px;
        margin-bottom: 120px;
    }
}

.project-box {
    width: 400px;
    height: auto;
    background: #27323E;
    border-radius: 12px;
    overflow: hidden;
    color: white;
    text-align: start;

    &:hover {
        &>a {

            &>img {
                filter: blur(3px);
            }

            &>.mask {
                opacity: 1;
            }
        }
    }

    &>a {
        width: 100%;
        height: 300px;
        position: relative;
        display: block;
        display: flex;
        justify-content: center;

        &>img {
            width: auto;
            height: 100%;
            transition: 0.3s ease-out;
        }

        &>.mask {
            mask-image: url(../assets/logo/loupe.svg);
            mask-size: 20%;
            mask-repeat: no-repeat;
            mask-position: center;
            background: var(--gradient);
            background-size: 10%;
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.3s ease-out;
        }
    }

    &>.project-txt {
        margin: 20px 30px;
        overflow: hidden;
        height: 180px;
        
        &>h3 {
            color: transparent;
            background: linear-gradient(155deg, #fc4a1a 0%, #f7b733 100%);
            background-clip: text;
            margin-bottom: 15px;
            font-size: 1.5em;
        }

        &>p {

            &>span {
                color: transparent;
                background: linear-gradient(155deg, #fc4a1a 0%, #f7b733 100%);
                background-clip: text;
            }
        }
    }

    @media screen and (max-width: 420px) {
        width: 95%;
    }
}

// Swiper
.swiper {
    width: 100%;
    height: 540px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.swiper-pagination {
    bottom: 0 !important;
}