@charset "UTF-8";
:root {
  --gradient: linear-gradient(155deg, #fc4a1a 0%, #f7b733 100%);
  --gradient2: linear-gradient(155deg, rgba(242,201,76,1) 0%, rgba(255,166,88,1) 100%);
  --main:#27323E;
  --second:#212529;
  --white:#fff;
  --yellow: #f2c94c;
}

@-webkit-keyframes mouse_rool {
  82% {
    transform: scaleX(1);
    height: 15px;
  }
  90% {
    transform: scaleX(0.5);
    height: 25px;
  }
  95% {
    transform: scaleX(0.5);
    height: 25px;
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes mouse_rool {
  82% {
    transform: scaleX(1);
    height: 15px;
  }
  90% {
    transform: scaleX(0.5);
    height: 25px;
  }
  95% {
    transform: scaleX(0.5);
    height: 25px;
  }
  to {
    transform: scaleX(1);
  }
}
header {
  position: fixed;
  z-index: 100;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3vh 3vw 1vh;
  color: white;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.wording {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wording > h2:last-child {
  background: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.wording > h2:last-child:hover:scope {
  font-size: 2em;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}
.menu > .menu-logo {
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 70px;
  height: 70px;
  background: var(--gradient);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.menu > .menu-logo > .line {
  border: solid 4px black;
  border-radius: 50px;
  height: 12px;
  width: 50%;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.menu > .menu-logo > .line.line-2 {
  width: 70%;
}
.menu > .menu-logo:hover {
  gap: 8px;
}
@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
}

.menu-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.5em;
  margin-top: 20px;
}
.menu-content > li {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient);
  border-radius: 50px;
  padding: 2px;
  height: 38px;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.menu-content > li > a {
  width: 100%;
  height: 100%;
  background: var(--main);
  border-radius: 50px;
  color: var(--white);
  padding: 3px 20px;
}
.menu-content.hidden-menu > li {
  transform: translateY(-100px);
  opacity: 0;
}

#home {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--main);
}
@media screen and (max-width: 1200px) {
  #home {
    flex-direction: column;
    align-items: center;
  }
}

.title {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
  font-size: 1.3em;
}
.title > :first-child {
  background: var(--gradient);
  padding: 20px 25px;
  border-radius: 40px;
  border-bottom-left-radius: 0px;
}
.title > .name {
  font-size: 4em;
  font-weight: 700;
}
.title > .developpeur {
  display: flex;
  align-items: center;
  gap: 8px;
}
.title > .social {
  display: flex;
  gap: 20px;
  padding: 30px 0;
}
@media screen and (max-width: 1525px) {
  .title {
    font-size: 1em;
  }
}
@media screen and (max-width: 1200px) {
  .title {
    justify-content: flex-end;
    width: auto;
  }
}
@media screen and (max-width: 770px) {
  .title {
    align-self: flex-start;
    padding-left: 10px;
    height: 70%;
  }
  .title > .developpeur {
    flex-direction: column;
    align-items: flex-start;
  }
}

.img-laltop {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-laltop > * {
  width: 70%;
  height: auto;
}
.img-laltop > *.laltop {
  z-index: 10;
}
.img-laltop > *.screen {
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .img-laltop {
    width: 60%;
  }
  .img-laltop > img {
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  .img-laltop {
    height: 20%;
  }
}

.mouse {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 80px;
  bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: var(--gradient);
  border-radius: 50px;
}
.mouse > .mouse-color {
  position: relative;
  background: var(--main);
  width: 46px;
  height: 76px;
  border-radius: 50px;
}
.mouse > .mouse-color > .roll {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 10px;
  background: var(--gradient);
  width: 10px;
  height: 15px;
  border-radius: 50px;
  -webkit-animation: 5s linear infinite mouse_rool;
          animation: 5s linear infinite mouse_rool;
}
.mouse > .mouse-color > .roll-line {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  background: var(--gradient);
  width: 2px;
  height: 30px;
  border-radius: 50px;
}
@media screen and (max-width: 770px) {
  .mouse {
    display: none;
  }
}

.about {
  background: var(--second);
  display: flex;
  align-items: center;
  height: 100%;
  padding: 200px 0 150px;
}
@media screen and (max-width: 1200px) {
  .about {
    justify-content: center;
  }
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .about-img {
    display: none;
  }
}

.about-right {
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .about-right {
    width: 70%;
  }
}
@media screen and (max-width: 770px) {
  .about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  .about-right > .map {
    width: 80%;
    height: 80%;
  }
}

.about-txt {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 100px;
  font-size: 1.5em;
}
.about-txt > h2 {
  z-index: 50;
  font-size: 44px;
  margin-bottom: 15px;
}
.about-txt > span {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 40;
  background: var(--gradient);
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.about-txt > p {
  margin-bottom: 10px;
  z-index: 50;
}
.about-txt > p > strong {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
}
.about-txt > p:last-child {
  padding-bottom: 20px;
}
@media screen and (max-width: 770px) {
  .about-txt {
    font-size: 1.2em;
    padding: 0;
  }
  .about-txt > h2 {
    font-size: 1.8em;
  }
  .about-txt > span {
    width: 40px;
    height: 40px;
  }
  .about-txt > p {
    padding-left: 25px;
  }
}

.skills {
  background: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0 150px;
}
@media screen and (max-width: 770px) {
  .skills {
    flex-direction: column;
    gap: 40px;
  }
}

.skills-left > ul,
.skills-right > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
}
.skills-left > ul > li,
.skills-right > ul > li {
  display: flex;
  gap: 15px;
  font-size: 1.2em;
}
.skills-left > ul > li > div > h2,
.skills-right > ul > li > div > h2 {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
}
.skills-left > ul > li > .skills-side-img,
.skills-right > ul > li > .skills-side-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient);
  border-radius: 50px;
  width: 68px;
  height: 68px;
}
.skills-left > ul > li > .skills-side-img > img,
.skills-right > ul > li > .skills-side-img > img {
  padding: 5px;
  background: var(--main);
  border-radius: 50px;
  width: 64px;
  height: 64px;
}
@media screen and (max-width: 1200px) {
  .skills-left > ul,
.skills-right > ul {
    padding: 0 60px;
  }
}

.skills-left > ul > li {
  justify-content: flex-end;
  text-align: end;
}
.skills-left > ul > li > div > ul > li::after {
  content: " •";
}

.skills-right > ul > li {
  justify-content: flex-start;
}
.skills-right > ul > li > div > ul > li::before {
  content: "• ";
}

.skills-img {
  position: relative;
}
.skills-img > .macbook {
  position: relative;
  z-index: 10;
}
.skills-img > .macbook-screen {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}
.skills-img > .iphone {
  position: absolute;
  bottom: -30px;
  right: 50px;
  z-index: 40;
}
.skills-img > .iphone.iphone-screen {
  z-index: 30;
}
@media screen and (max-width: 1450px) {
  .skills-img > .macbook, .skills-img > .macbook-screen {
    width: 80%;
  }
  .skills-img > .iphone {
    width: 20%;
  }
}
@media screen and (max-width: 1200px) {
  .skills-img {
    display: none;
  }
}

.projects {
  background: var(--second);
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  position: relative;
}
.projects-title > span {
  display: block;
  position: absolute;
  left: -20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: var(--gradient);
}
.projects-title > h2 {
  position: relative;
  z-index: 10;
  font-size: 44px;
  margin-bottom: 120px;
}

.project-box {
  width: 400px;
  height: 500px;
  background: #27323E;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  text-align: start;
}
.project-box:hover > a > img {
  filter: blur(3px);
}
.project-box:hover > a > .mask {
  opacity: 1;
}
.project-box > a {
  width: 100%;
  height: 60%;
  position: relative;
  display: block;
  display: flex;
  justify-content: center;
}
.project-box > a > img {
  width: auto;
  height: 100%;
  transition: 0.3s ease-out;
}
.project-box > a > .mask {
  -webkit-mask-image: url(../assets/logo/loupe.svg);
          mask-image: url(../assets/logo/loupe.svg);
  -webkit-mask-size: 20%;
          mask-size: 20%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  background: var(--gradient);
  background-size: 10%;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-out;
}
.project-box > .project-txt {
  margin: 20px 30px;
  overflow: hidden;
  height: 30%;
}
.project-box > .project-txt > h3 {
  color: transparent;
  background: linear-gradient(155deg, #fc4a1a 0%, #f7b733 100%);
  -webkit-background-clip: text;
          background-clip: text;
  margin-bottom: 15px;
  font-size: 1.5em;
}
@media screen and (max-width: 420px) {
  .project-box {
    width: 95%;
  }
}

.swiper {
  width: 100%;
  height: 540px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.swiper-pagination {
  bottom: 0 !important;
}

.contact {
  background: var(--main);
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  position: relative;
  align-self: flex-start;
  margin-left: 10%;
}
.contact-title > span {
  display: block;
  position: absolute;
  left: -20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: var(--gradient);
}
.contact-title > h2 {
  position: relative;
  z-index: 10;
  font-size: 44px;
  padding-bottom: 120px;
}

.contact-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
@media screen and (max-width: 1200px) {
  .contact-content {
    flex-direction: column;
    gap: 100px;
  }
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form > .message-send {
  position: absolute;
  top: -70px;
  background: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 1.2em;
  font-weight: 600;
  opacity: 0;
  transition: 0.3s ease-out;
}
form > .message-send.send {
  opacity: 1;
}
form > .name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
form > .submit-button {
  background: var(--gradient);
  border-radius: 50px;
  height: 49px;
  width: 167px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  transition: 0.2s ease-out;
}
form > .submit-button:hover {
  font-size: 1.4em;
  transform: scale(1, 0.9);
}
form > .submit-button:active {
  font-size: 1em;
  transform: scale(1.1, 0.8);
}
@media screen and (max-width: 770px) {
  form {
    width: 95%;
  }
  form > .name {
    flex-direction: column;
    width: 95%;
  }
}

.input {
  background: var(--gradient);
  border-radius: 50px;
  height: 59px;
  width: 634px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.input.inp-lname, .input.inp-fname {
  width: 304px;
}
.input.inp-lname > input, .input.inp-fname > input {
  width: 100%;
}
.input.inp-lname > input:focus, .input.inp-fname > input:focus {
  outline: none;
}
.input.inp-message {
  height: 192px;
}
.input > input {
  background: var(--main);
  border-radius: 50px;
  height: 100%;
  width: 100%;
  padding: 0 25px;
  font-size: 1.1em;
}
.input > input:focus {
  outline: none;
}
.input > textarea {
  background: var(--main);
  border-radius: 50px;
  padding: 25px;
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  resize: none;
}
.input > textarea:focus {
  outline: none;
}
@media screen and (max-width: 770px) {
  .input {
    width: 95%;
  }
  .input.inp-lname, .input.inp-fname {
    width: 75%;
  }
}

.info {
  background: var(--gradient);
  border-radius: 8px;
  padding: 40px 20px 40px 20px;
}
.info > .address-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}
.info > .address-title.address::before {
  content: "📭 ";
}
.info > .address-title.mail::before {
  content: "📧 ";
}
.info > .address-title.phone::before {
  content: "📱 ";
}
.info > .address-content {
  font-size: 1.2em;
  margin-bottom: 20px;
  padding-left: 60px;
}
.info > .social {
  padding-top: 20px;
  display: flex;
  gap: 15px;
}
.info > .social > img {
  width: 40px;
  height: auto;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: 0;
  background: none;
  font-family: "Ubuntu", sans-serif;
  color: var(--white);
}

body {
  overflow-x: hidden;
}

.social a {
  transition: 0.2s ease-out;
}
.social a:hover {
  transform: scale(1.1, 1.1);
}

.dontSend {
  background: red;
}/*# sourceMappingURL=index.css.map */